:root {
    --buttons: #20b2aae0;
    --specialbuttonbg: #bc4c4ac9;
    --specialbuttoncolor: #fff;
    //--tag-bg: #feff00; //Innan --primary-high
    //--tag-text: #000; //Innan --primary-low
    --tag-family: 'Montserrat';
    --category-family: 'Montserrat';
    --ide: #73c480;
    --utformning: #73c480;
    --produktion: #73c480;
    --forvaltning: #73c480;
    --darkish: #000;
}